<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{{ title }}}</title>
  <meta name="description" content="{{{ description }}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="referrer" content="unsafe-url">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lumen/bootstrap.min.css" integrity="sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/1398e76e80.js" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="container d-flex justify-content-between">
    <span class="navbar-brand">
      <i class="far fa-snowflake"></i>&nbsp;&nbsp;{{{ title }}}
    </span>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link px-3" href="latest.rss">
            <i class="fas fa-rss"></i>&nbsp;&nbsp;Latest Issue
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link px-3" href="issues.rss">
            <i class="fas fa-rss"></i>&nbsp;&nbsp;All Issues
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="container py-4" role="main">
  <h2>{{{ description }}}</h2>
  <p>
    <ul class="fa-ul">
      {{#each files}}
        <li>
          <span class="fa-li"><i class="fas fa-rss"></i></span>
          <a href="{{{ this }}}">{{{ this }}}</a>
        </li>
      {{/each}}
    </ul>
  </p>
</main>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
